<html lang="en">
<head>
    <title>Josh Brunton: Projects</title>
  {% include 'metadata.html' %}

</head>

<body>

<header id="header">
    <div id="close-btn-container">
        <button onclick="toggleMobileHeader();">
            <span class="iconify" data-icon="mdi:close-thick"></span>
        </button>
    </div>
    &nbsp;
    <a href="#home" onclick="hideMobileHeader();">HOME</a>&nbsp;
    <a href="#translator" onclick="hideMobileHeader();">TRANSLATOR</a>&nbsp;
    <a href="#flashcards" onclick="hideMobileHeader();">FLASHCARDS</a>&nbsp;
    <a href="#dissertation" onclick="hideMobileHeader();">DISSERTATION</a>&nbsp;
</header>
<div class="show-header-btn-container">
    <button id="show-header-btn" onclick="showMobileHeader();">
        <span class="iconify" data-icon="mdi:menu"></span>
    </button>
</div>

<section id="home">
    <img id="profile-picture"
         src="https://cdn.glitch.global/0e1f2ae5-0134-4f3a-97b3-718c4f79bb09/profile.png?v=1679007580910"/>
    <h1 id="title-h1">Projects</h1>
    <p>
        See what I've been working on!
    </p>

    <a class="scroll-down-arrow" href="#translator">
        <span class="iconify" data-icon="mdi:arrow-down"></span>
    </a>

</section>

<section class="blue">


    <h1 id="translator">Discord Translator Bot</h1>
    <p>
    <div class="section-content">
        <div class="flex-gallery">
          <div class="small">
            <img src="https://cdn.glitch.global/0e1f2ae5-0134-4f3a-97b3-718c4f79bb09/appicon.png?v=1682014016632" />
          </div>
          <div>
            <p>
              Using the <a href="#">Discord API</a> and the <a href="#">Google Translate Ajax API</a>,
            I developed a Discord bot to seamlessly translate between over 100 languages. 
            </p>
            <p>
              The bot separates message content into an ISO code and a message, then passes it to 
              the Ajax API. It copies the user's display name and profile picture, then sends this
              content to a Discord webhook, giving the impression that the user themself sent 
              the translated message.
            </p>
          </div>
      </div>
      <hr />
      <div class="flex-gallery">
          <div>
            <p>
              So long as a user knows the ISO code for a language, they can easily translate into it. 
              The program automatically detects the source language, so there is no need for
              configuration or extra arguments.
            </p>
            <p>
              The bot facilitates interlingual communication in environments where it would otherwise
              be impractical or even impossible. 
            </p>
          </div>
          <div class="medium">
            <img src="https://cdn.glitch.global/0e1f2ae5-0134-4f3a-97b3-718c4f79bb09/translator_demo.gif?v=1682014018370" />
          </div>
      </div>
    </div>
    </p>
</section>

<section>
    <h1 id="flashcards">Online Flashcard Solution</h1>
    <p>
    <div class="section-content">
        <h2>Coming soon...</h2>
        <span class="subheader">AUG 2023</span>
        <p>
          This project is being submitted as part of my OCR A-Level H446 Computer Science 
          qualification coursework. As such, I cannot yet share it publically. 
      </p>
      <p>
        The estimated public release date of this project is August 2023.
      </p>
    </div>

    </p>
</section>

<section class="green">
    <h1 id="dissertation">EPQ Dissertation</h1>
    <p>
    <div class="section-content">
        <h2>Coming soon...</h2>
        <span class="subheader">AUG 2023</span>
        <p>
          This project is being submitted as material for my AQA Level 3 Extended Project Qualification.
          As such, I cannot yet share it publically. 
      </p>
      <p>
        The estimated public release date of this project is August 2023.
      </p>
    </div>
    </p>
</section>

{% include 'footer.html' %}


</body>
</html>
