<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Josh Brunton: A Levels</title>
  {% include 'metadata.html' %}
</head>

<body>

  <header style="text-align: left; padding-left: 2vw;">
    <a href="#home">&lt; BACK</a>
  </header>

  <section id="home">
    <h1>Level 3 Qualification Grades</h1>
    <span class="subheader">
    <font style="color: #848484">SEP 2021 - JUN 2023 | <b>KING JAMES'S SIXTH FORM</b></font></span><br />
    <hr />
    <div class="section-content">

      <p>
        <b>NOTE:</b> This page contains predicted grades of as March 16<sup>th</sup>,
        2023. This page should be updated with more accurate information soon.
        </p>
      </div>

      <table>
            <thead>
              <tr>
                <th>Board</th>
                <th>Title</th>
                <th>Grade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>AQA</td>
                <td>French</td>
                <td>B</td>
              </tr>
              <tr>
                <td>AQA</td>
                <td>Extended Project Qualification</td>
                <td>A</td>
              </tr>
              <tr>
                <td>OCR</td>
                <td>Computer Science</td>
                <td>A</td>
              </tr>
              <tr>
                <td>OCR</td>
                <td>Health &amp; Social Care (AS)</td>
                <td>Distinction</td>
              </tr>
            </tbody>
          </table>

  </section>

  {% include 'footer.html' %}

</body>
</html>
