<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Josh Brunton: GCSEs</title>
  {% include 'metadata.html' %}
</head>

<body>

  <header style="text-align: left; padding-left: 2vw;">
    <a href="#home">&lt; BACK</a>
  </header>

  <section id="home">
    <h1>GCSE Grades</h1>
    <span class="subheader">
    <font style="color: #848484">SEP 2016 - JUL 2021 | <b>WETHERBY HIGH SCHOOL</b></font></span><br />
    <hr />

      <table>
          <thead>
            <tr>
              <th>Board</th>
              <th>Title</th>
              <th>Grade</th>
              <th>Endorsement</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AQA</td>
              <td>Food Preparation And Nutrition</td>
              <td>7</td>
              <td>-</td>
            </tr>
            <tr>
              <td>AQA</td>
              <td>French Tier H</td>
              <td>8</td>
              <td>D</td>
            </tr>
            <tr>
              <td>AQA</td>
              <td>English Language</td>
              <td>7</td>
              <td>D</td>
            </tr>
            <tr>
              <td>AQA</td>
              <td>English Literature Option NM</td>
              <td>7</td>
              <td>-</td>
            </tr>
            <tr>
              <td>WJEC/GCS</td>
              <td>Music</td>
              <td>7</td>
              <td>-</td>
            </tr>
            <tr>
              <td>OCR</td>
              <td>Biology A (Gateway Sciences) -Hgh</td>
              <td>6</td>
              <td>-</td>
            </tr>
            <tr>
              <td>OCR</td>
              <td>Chemistry A (Gateway Sciences) -Hgh</td>
              <td>7</td>
              <td>-</td>
            </tr>
            <tr>
              <td>OCR</td>
              <td>Physics A (Gateway Sciences) -Hgh</td>
              <td>7</td>
              <td>-</td>
            </tr>
            <tr>
              <td>OCR</td>
              <td>Computer Science</td>
              <td>7</td>
              <td>-</td>
            </tr>
            <tr>
              <td>OCR</td>
              <td>Mathematics (Higher Tier)</td>
              <td>6</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>

  </section>

  {% include 'footer.html' %}

</body>
</html>
