details {
    padding: 2px;
}

details summary {
    cursor: pointer;
    transition: margin .2s ease-out;
    list-style: none;
    position: relative;
}

details summary iconify-icon {
    transition: .2s;
    position: absolute;
    right: 0;
}

details[open] summary {
    margin-bottom: 10px;
}

details[open] summary iconify-icon {
    transform: rotate(180deg) scale(1.5);
}