* {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* header styling */
header {
  width: 100%;
  position: fixed;
  background: #202731;
  padding: 3vh 0;
  z-index: 100;
  text-align: center;
  color: #848484;
  font-weight: bold;

  box-shadow: 2px 2px 2px #202731;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;

  transition: all 0.2s;
}

header a, header a:visited {
  color: #848484;
  text-decoration: none;
  transition: 0.2s;
  margin: 0.25vw;
}

header a:active,
header a:hover,
header a:focus {
  color: #ffffff;
}

header > #close-btn-container {
  text-align: right !important;
}

header > #close-btn-container,
header > #close-btn-container * {
  visibility: hidden;
  width: 0;
  height: 0;
}

header > #close-btn-container button {
  width: 8vw;
  height: 8vw;
  font-size: 7vw;
  background: transparent;
  border: none;
  color: #848484;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 1vh;

  transition: 0.2s;
}

header > #close-btn-container button:hover {
  color: #ffffff;
}

.show-header-btn-container {
  visibility: hidden;
  width: 0;
  height: 0;
}

#show-header-btn {
  visibility: hidden;
}


/* scrollbars */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* body styling */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;
  background: #202731;
}

.gallery * {
  color: #ffffff;
  text-decoration: none;
  font-size: 5vh;

  transition-duration: 0.2s;

  animation-duration: 0.3s;
  animation-name: fade-up-entry;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.gallery a:hover * {
  transform: translateY(-10%);
}

.gallery a:nth-child(1),
.gallery a *:nth-child(1) {
  animation-delay: 0.3s;
}
.gallery a:nth-child(2),
.gallery a *:nth-child(2) {
  animation-delay: 0.6s;
}
.gallery a:nth-child(3),
.gallery a *:nth-child(3) {
  animation-delay: 0.9s;
}
.gallery a:nth-child(4),
.gallery a *:nth-child(4) {
  animation-delay: 1.2s;
}

.scroll-down-arrow {
  color: #ffffff;
  text-decoration: none;
  font-size: 5vh;
  margin-top: 5vh;
  z-index: 2;

  animation-name: arrow-bounce-down;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  min-height: 55vh;
  padding-top: 15vh;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 20vh;
  overflow-x: hidden;
  border-radius: 100px;
}

section:last-of-type {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.section-content {
  text-align: left !important;
  min-width: 60vw;
  height: auto;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.section-content, .section-content * {
  overflow-y: hidden;
}

.section-content ul {
  list-style: disc inside;
  margin-left: 20px;
  padding-left: 0;
}
.section-content ul li {
  margin-top: .75vh;

}


.green {
  background: #535e4b;
}

.blue {
  background: #3d416c;
}

#title-h1 {
  background-image: linear-gradient(90deg, #02feff, #c902fe);

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;

  font-weight: 800;
}

a {
  z-index: 10 !important;
}


hr {
  border-top: 2px solid #848484;
  width: 60%;
}


/* animation keyframes */
@keyframes fade-up-entry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrow-bounce-down {
  0% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(0%);
  }
  85% {
    transform: translateY(20%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* media query for responsive header */
@media screen and (max-width: 735px) {

  .show-header-btn-container, .show-header-btn-container * {
    z-index: 3;
  }

  .show-header-btn-container {
    visibility: visible !important;

    width: 100vw !important;
    height: auto !important;
    text-align: right;
    background: transparent;

    position: fixed;
  }

  #show-header-btn {

    visibility: visible !important;

    margin: 1vw;
    font-size: max(50px, 7vw);
    width: auto;
    height: auto;
    overflow: hidden;
    border: 2px solid #3c3c3c;
    background: #202731;
    box-shadow: 2px 2px 2px #202731;
    border-radius: 8px;
    color: #848484;
    font-weight: 800;

    transition: 0.2s;
  }

  #show-header-btn:hover {
    color: #fff;
  }





  header.active {
    z-index: 5;
    transform: translateY(0) !important;
    visibility: visible !important;
    background-color: #282c34 !important;
    text-align: left;
    padding: 2vw;
    box-shadow: 1vh 1vh 1vh #000000;
  }

  header.active > #close-btn-container,
  header.active > #close-btn-container * {
    display: default !important;
    visibility: visible !important;
    width: auto;
    height: auto;
  }

  header.active > a {
    font-size: 5vw;
    margin-top: 10vh;
  }

  header.active > a::after {
    content: "\a";
    white-space: pre;
  }



  header {
    transform: translateY(-100%);
    visibility: hidden;
  }

  section {
    padding-left: 5vw;
    padding-right: 5vw;
    width: 90vw;
  }

  section .section-content {
    width: 90vw;
  }

  .curve-green, .curve-blue, .curve-bg {
    overflow: hidden;
  }
}

.subheader {
  color: #c3c3c3;
}



.internal-redirect-a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2vh;
  padding: 0.5vh 1vw;
  font-weight: bold;
  transition: 0.2s;
}

.internal-redirect-a:hover {
  padding-left: 2vw;
}

.internal-redirect-a span.iconify {
  margin-top: 0.5vh !important;
}

#profile-picture {
  height: 20vh;
  border: 5px solid #161b21;
  border-radius: 50%;
}

a, a:visited {
    color: #c3c3c3;
}

footer {
text-align: center;
bottom: 0;
height: 5vh;
width: 100%;
padding: 5vh;
font-size: 2vh;
}

footer img {
  height: 2vh;
}
