<html lang="en">
<head>
    <title>Josh Brunton</title>
  
    {% include 'metadata.html' %}


</head>

<body>

<header id="header">
    <div id="close-btn-container">
        <button onclick="toggleMobileHeader();">
            <span class="iconify" data-icon="mdi:close-thick"></span>
        </button>
    </div>
    &nbsp;
    <a href="#home" onclick="hideMobileHeader();">HOME</a>&nbsp;
    <a href="#experience" onclick="hideMobileHeader();">EXPERIENCE</a>&nbsp;
    <a href="#education" onclick="hideMobileHeader();">EDUCATION</a>&nbsp;
    <a href="#skills" onclick="hideMobileHeader();">SKILLS</a>&nbsp;
    <a href="#competitions" onclick="hideMobileHeader();">COMPETITIONS</a>&nbsp;
    <a href="#awards" onclick="hideMobileHeader();">AWARDS</a>&nbsp;
    <a href="#languages" onclick="hideMobileHeader();">LANGUAGES</a>&nbsp;
    <a href="#community" onclick="hideMobileHeader();">COMMUNITY</a>&nbsp;
</header>
<div class="show-header-btn-container">
    <button id="show-header-btn" onclick="showMobileHeader();">
        <span class="iconify" data-icon="mdi:menu"></span>
    </button>
</div>

<section id="home">
    <img id="profile-picture"
         src="https://cdn.glitch.global/0e1f2ae5-0134-4f3a-97b3-718c4f79bb09/profile.png?v=1679007580910"/>
    <h1 id="title-h1">Josh Brunton</h1>
    <p>
        Soon-to-be 6<sup>th</sup> form graduate &amp; job seeker.
    </p>
    <p class="gallery">
        <a class="gallery-a" href="https://github.com/jbrunton4">
            <span class="iconify" data-icon="mdi:github"></span>
        </a>
        <a class="gallery-a" href="https://twitter.com/joshbrunton_dev">
            <span class="iconify" data-icon="mdi:twitter"></span>
        </a>
        <a class="gallery-a" href="https://www.linkedin.com/in/josh-brunton-ba4328269/">
            <span class="iconify" data-icon="mdi:linkedin"></span>
        </a>
        <a class="gallery-a" href="/projects">
            <span class="iconify" data-icon="mdi:eye"></span>
        </a>
    </p>

    <a class="scroll-down-arrow" href="#experience">
        <span class="iconify" data-icon="mdi:arrow-down"></span>
    </a>

</section>

<section class="blue">


    <h1 id="experience">Experience</h1>
    <p>
    <div class="section-content">
        <h2>Junior .NET Developer</h2>
        <span class="subheader">AUG-SEPT 2021 | <b>BINARY IS LTD</b></span>
        <ul>
            <li>Single-handedly designed and implemented a web portal for monitoring an integrated solution</li>
            <li>Worked with C# (Microsoft Blazor framework), HTML, and CSS</li>
            <li>Communicated with an SQL database via C# to retrieve data from the company's server</li>
        </ul>
    </div>
    <hr/>

    <div class="section-content">
        <h2>Teaching Assistant</h2>
        <span class="subheader">JUN-JUL 2021 | <b>WETHERBY HIGH SCHOOL</b></span>
        <ul>
            <li>Volunteered as a teaching assistant for GCSE computer science classes</li>
            <li>Designed lesson plans to teach data representation &amp; compression algorithms</li>
            <li>Produced teaching and study materials</li>
            <li>Led weekly after-school teaching sessions</li>
        </ul>
        <a class="internal-redirect-a" href="/references/01">Read A Reference
            <span class="iconify" data-icon="mdi:arrow-right"></span></a>
    </div>
    <hr/>

    <div class="section-content">
        <h2>Web Developer &amp; Salesperson</h2>
        <span class="subheader">OCT 2019 - MAR 2020 | <b>YOUNG ENTERPRISE</b></span> 
        <ul>
            <li>
                Designed, developed &amp; maintained a website to provide information and promote products
            </li>
            <li>
                Promoted and sold products to customers at local sales events
            </li>
            <li>
                Won the Young Enterprise 2019 Award for Conservation
            </li>
        </ul>
    </div>
    <hr/>
    </p>
</section>

<section>
    <h1 id="education">Education</h1>
    <p>
    <div class="section-content">
        <h2>Level 3 Qualifications</h2>
        <span class="subheader">SEPT 2021 - JUL 2023 | <b>KING JAMES'S SIXTH FORM COLLEGE</b></span>
        <ul>
            <li>
                Predicted AAB + Distinction - grades pending 17 Aug 2023
            </li>
            <li>
                Qualifications in Computer Science, French, Health &amp; Social Care, Extended Project Qualification
            </li>
            <li>
                CS Project: Customisable Flashcard App with Spaced Repetition Algorithms
            </li>
            <li>
                EPQ Title: Could Machine Translation Solutions Replace Human Translators?
            </li>
        </ul>
        <a class="internal-redirect-a" href="/grades/alevel">Read More<span class="iconify"
                                                                            data-icon="mdi:arrow-right"></span></a>
    </div>
    <hr/>

    <div class="section-content">
        <h2>GCSEs</h2>
        <span class="subheader">SEPT 2016 - JUL 2021 | <b>WETHERBY HIGH SCHOOL</b></span>
        <ul>
            <li>
                10 GCSE Qualifications
            </li>
            <li>
                8 in Computer Science
            </li>
            <li>
                7 with Distinction in English Language
            </li>
            <li>
                6 in Higher Mathematics
            </li>
        </ul>
        <a class="internal-redirect-a" href="/grades/gcse">Read More<span class="iconify"
                                                                          data-icon="mdi:arrow-right"></span></a>
    </div>
    </p>
</section>


<section class="green">
    <h1 id="skills">Skills</h1>
    <p>
    <div class="section-content">
        <h2>Programming</h2>
        <ul>
            <li>
                <b>Python</b> - Extensive educational experience
            </li>
            <li>
                <b>DOM Family</b> - Limited educational &amp; professional experience
            </li>
            <li>
                <b>C#</b> - limited professional experience, including with the Microsoft Blazor framework
            </li>
        </ul>
    </div>
    <hr/>
    <div class="section-content">
        <h2>Technical Skills</h2>
        <ul>
            <li>
                Proficient programmer with 7+ years educational &amp; professional experience
            </li>
            <li>
                General computer proficiency including office software (MS Office, Google Suite)
            </li>
            <li>
                Speed typing at an average of over 90wpm (top 3% worldwide)
            </li>
        </ul>
    </div>
    <hr/>
    <div class="section-content">
        <h2>Core Competencies</h2>
        <ul>
            <li>
                Teamwork &amp; leadership skills
            </li>
            <li>
                Organisation &amp; time management
            </li>
            <li>
                Research &amp; data collection
            </li>
        </ul>
    </div>
    </p>
</section>

<section>
    <h1 id="competitions">Competitions</h1>
    <p>
    <div class="section-content">
        <h2>ESA Astro Pi Challenge</h2>
        <span class="subheader">2021-2022 | <b>EUROPEAN SPACE AGENCY</b></span>
        <ul>
            <li>
                Wrote code to collect &amp; analyse weather data
            </li>
            <li>
                Coded for specialised sensor &amp; processing hardware
            </li>
            <li>
                Code deployed to run on the International Space Station
            </li>
        </ul>
    </div>
    <hr/>

    <div class="section-content">
        <h2>CyberCenturion Cybersecurity Competition</h2>
        <span class="subheader">2021-2022, 2022-2023 | <b>CYBERCENTURION</b></span>
        <ul>
            <li>
                Competed in the national semi-finals of a cybersecurity competition
            </li>
            <li>
                Identified and patched security vulnerabilities in Windows and
                Linux systems
            </li>
        </ul>
    </div>
    </p>
</section>

<section class="blue">
    <h1 id="awards">Awards</h1>
    <p>
    <div class="section-content">
        <h2>Young Enterprise Conservation Award</h2>
        <span class="subheader">2019 | <b>YOUNG ENTERPRISE</b></span><br/>
        Awarded for consideration of environmental impact while participating in the Young Enterprise
      competition.
    </div>
    <hr/>
    <div class="section-content">
        <h2>Wetherby High School Lead Learners Commendation</h2>
        <span class="subheader">2019 | <b>WETHERBY HIGH SCHOOL</b></span><br/>
          Awarded for exceptional performance and enthusiasm across all subjects 
      during GCSE studies. 
    </div>
    <hr/>
    <div class="section-content">
        <h2>Wetherby High School Subject Award for Computer Science &amp; Business Studies</h2>
        <span class="subheader">JUL 2019 | <b>WETHERBY HIGH SCHOOL</b></span><br/>
        Awarded for exceptional enthusiasm and performance in computer science classes, 
      independent research, and involvement in extra-curricular activities. 
    </div>
    </p>
</section>

<section>
    <h1 id="languages">Languages</h1>
    <p>
    <div class="section-content">
        <h2>English ●●●●●</h2>
        <span class="subheader">NATIVE SPEAKER</span>
      <ul>
        <li>Native speaker of British English</li>
        <li>Outstanding spelling and grammar</li>
        <li>Certified CEFR level C1 (fluent)</li>
      </ul>
        <a class="internal-redirect-a"
           href="https://cdn.glitch.global/0e1f2ae5-0134-4f3a-97b3-718c4f79bb09/english_certificate.pdf?v=1677372929667">See
            certification<span class="iconify" data-icon="mdi:arrow-right"></span></a>
    </div>
    <hr/>
    <div class="section-content">
        <h2>French ●●●●○</h2>
        <span class="subheader">CONVERSATIONALLY PROFICIENT</span>
        <ul>
          <li>Converationally proficient in metropolitan French</li>
          <li>GCSE grade 8 (A*) with distinction for speaking</li>
          <li>A-level predicted B</li>
          <li>Pursuing independent CEFR qualification</li>
      </ul>
    </div>
    <hr/>
    <div class="section-content">
        <h2>Japanese ●●○○○</h2>
        <span class="subheader">INTERMEDIATE</span>
        <ul>
          <li>Intermediate proficiency in standard Japanese</li>
          <li>Currently taking classes with a tutor</li>
          <li>Pursuing JLPT N4 qualification</li>
      </ul>
    </div>
    <hr/>
    <div class="section-content">
        <h2>British Sign Language (BSL) ●○○○○</h2>
        <span class="subheader">ELEMENTARY</span><br/>
        <ul>
          <li>Elementary proficiency in BSL</li>
          <li>Studying independently to promote accessibility</li>
      </ul>
    </div>
    <hr/>
    </p>
</section>

<section class="green">
    <h1 id="community">Community</h1>
    <p>
    <div class="section-content">
        <h2>Volunteer Library Assistant</h2>
        <span class="subheader">2021-2022 | <b>KING JAMES'S SIXTH FORM COLLEGE</b></span><br/>
        <ul>
            <li>
                Volunteered at my college's library during free periods
            </li>
            <li>
                Organised and catalogued various materials according to the Dewey decimal system
            </li>
            <li>
                Created informational materials and handouts such as "book of the week" posters for each school year
            </li>
            <li>
                Collaborated with the design &amp; technology department to design a tool to align books of differing
                widths along shelves
            </li>
            <li>
                Promoted ease of access to information by creating a <a href="https://ddlookup.info/">web
                application</a>
                to easily search the Dewey decimal system
            </li>
        </ul>
    </div>
    <hr/>
    <div class="section-content">
        <h2>Assistant Form Tutor</h2>
        <span class="subheader">2019-2021 | <b>LOCAL HIGH SCHOOL</b></span><br/>
        <ul>
            <li>
                Lead sessions &amp; activities within my form group
            </li>
            <li>
                Carried out the responsibilities of a form tutor when members
                of staff were unavailable.
            </li>
        </ul>
    </div>
    <hr/>
    <div class="section-content">
        <h2>School Club Organiser &amp; Overseer</h2>
        <span class="subheader">2019-2020 | <b>WETHERBY HIGH SCHOOL</b></span><br/>
        <ul>
            <li>
                Independently organised and invigilated a school club for years
                7 to 11
            </li>
            <li>
                Ran every day at lunch breaks without fail
            </li>
            <li>
                Club was eventually cancelled due to COVID isolation policies
            </li>
        </ul>
    </div>
    <hr/>
    <div class="section-content">
        <h2>RAF Air Cadet</h2>
        <span class="subheader">2018-2020 | <b>35 (WETHERBY) SQUADRON</b></span><br/>
        <ul>
            <li>
                Attended air cadet sessions twice weekly
            </li>
            <li>
                Gained programming experience with Raspberry Pi projects
            </li>
            <li>
                Participated in cadet activities including radio communications
                and etiquette, aircraft recognition, and drills.
            </li>
        </ul>
    </div>
    <hr/>
    <div class="section-content">
        <h2>Jazz Band</h2>
        <span class="subheader">2018-2020 | <b>WETHERBY MUSIC CENTER</b></span><br/>
        <ul>
            <li>
                Performed in a local jazz band at multiple public events
            </li>
            <li>
                Primarily played the piano/keyboard
            </li>
            <li>
                Occasionally played guitar and flute
            </li>
        </ul>
    </div>
    </p>
</section>


{% include 'footer.html' %}

</body>
</html>
