<meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    

    <link href="{{ url_for('static', filename='css/universal.css') }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/header-controls.js')}}"></script>

    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>