<!DOCTYPE html>
<html>

<head>
    {% include 'common/head.html' %}
</head>

<body id="home">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light frosted"
            style="box-shadow: 2px 2px 2px lightgrey; position: sticky; top: 0; z-index: 999999; padding: 3vh;">

            <a href="" style="text-decoration: none; font-size: 1.2em; color: black; position: absolute; left: 0;"
                onclick="setTimeout(function() {window.location.href = window.location.origin;}, 0)">
                <iconify-icon icon="mdi:arrow-left"></iconify-icon>
                Back
            </a>

            <a class="navbar-brand" href="#" style="position: absolute; left: 50%; transform: translateX(-50%);">
                <img src="{{ url_for('static', filename='img/avatar.png') }}" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                Josh Brunton
            </a>

        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row frosted m-5">

                <h1>Letter of Recommendation</h1>
                <h5 class="text-secondary">
                    <b>Tommy Bradford</b> | Teacher in Charge of Computing at Wetherby High School, 2021
                </h5>
                <hr />

                <p>To whom it may concern,</p>

                <p>Upon my appointment of teacher in charge of Computing at Wetherby High School, Josh stood out
                    immediately as an excellent student of Computer Science and throughout the subsequent three years he
                    demonstrated so many more qualities that I'm happy to share with you.</p>

                <p>In the classroom, Josh is an exemplary student to have in order to promote a model learning
                    environment.
                    He is engaged, inquisitive, polite and always ready to learn. This is demonstrated by his success in
                    GCSE Computer Science and treasured by those that had the pleasure to teach him.</p>

                <p>I've been extremely fortunate to see Josh outside of the classroom environment also, as part of the
                    after-school Computing club at Wetherby High. Here, I have not only seen a young student passionate
                    about Computing and Physics (languages and music too, I might add) but I have seen this passion used
                    to
                    help and inform a range of students across the school community. Josh would happily assist and
                    encourage
                    younger students at the club and do so in a calm, friendly and often humorous way that not only
                    benefitted their understanding but made them want to return the following week.</p>

                <p>Josh has always been keen to put his outstanding practical Computing skills into practice. Josh was
                    recognised for his work in the school community when he created a revision website utilising his
                    HTML
                    knowledge that not only demonstrated excellent competency but showed a young person conscious and
                    caring
                    for those who are part of his team/community when he made this website available to all of the year
                    group to assist them in their study. I also recall another of Josh's qualities when he was a young
                    GCSE
                    student collaborating with 6th form students on the design of a program that was to be used to award
                    merit points to students in school - he not only has the ability to communicate with students his
                    own
                    age but is equally at ease in conversation with younger students and in collaboration with those
                    more
                    advanced in years, including staff.</p>

                <p>Recently Josh has completed a period of work experience at Wetherby High School assisting myself in
                    the
                    delivery of GCSE Computer Science. Josh, as he did as a student, came 100% prepared and spent time
                    preparing activities for the students that would both engage and challenge them. He would entwine
                    his
                    love of languages and science into Computing activities and this made topics such as data
                    representation
                    fun to learn. An observation I made from the very first session was how Josh would also make a note
                    of
                    any questions students had that he could not immediately answer and he'd come back the following
                    week
                    and enlighten them - as I mentioned earlier, always ready to learn. This was noted and appreciated
                    by
                    the students who were not just being taught but being **inspired** by Josh.</p>

                <p>I thoroughly recommend Josh to your organisation, knowing he'll not only be an asset but a valuable
                    team
                    member.</p>

                <p>Yours faithfully</p>

                <p>Tommy Bradford</p>

                <p>Teacher in charge of Computing - Wetherby High School</p>
            </div>
        </div>
    </main>

    <footer>
        {% include 'common/bootstrap-script.html' %}
    </footer>
</body>

</html>